.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/* align-items: center; */

.App-header {
  /* color: white;  */
} 

hr {
  width: 80%;
  background-color: rgb(187, 6, 6);
  border-color: rgb(187, 6, 6);
}


.headLineComponent{
  color: #61dafb;
}